{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock styles %}

{% block body %}
 <!--================Home Banner Area =================-->
 <section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div
        class="overlay bg-parallax"
        data-stellar-ratio="0.9"
        data-stellar-vertical-offset="0"
        data-background=""
      ></div>
      <div class="container">
        <div class="banner_content text-center">
          <h2>Programs</h2>
          <div class="page_link">
           <a class="text-white" href="/">Homepage</a>
           <a href="/blog_detail/">Languages</a>
           <a href="/blog_detail/">Programs</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Home Banner Area =================-->
  <section>
    <center>
     
      
    </center>
  </section>
  
  
  <section>
    
    
   
    <div class="container mt-5">
  
 
      <div class="row">
        <div class="col-md-6 mx-auto"> <!-- Set the width to half of the container width and center it -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center text-black" style="font-weight: bolder;">{{codes.title}}
                <button class="btn btn-sm btn-primary float-right copy-btn"><a href="/code/" style="color: white;">open IDE</a></button>
                <button class="btn btn-sm btn-primary float-right copy-btn" onclick="copyText()"><i class="fa fa-copy"></i></button>
              </h5>
              <p class="card-text" style="margin-top: 70px;"> <pre>{{codes.code|safe}}</pre></p>
            </div>
            <hr>
            <h5 class="text-center font-weight-bold">Program Description</h5>
            <p class="p-3">{{codes.content}}</p>
          </div>
        </div>
      </div>
     

      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.2/js/bootstrap.min.js"></script>
     
     
      <script>
        function copyText() {
            var textToCopy = document.querySelector('.card-text').innerText;
            var tempInput = document.createElement("input");
            tempInput.value = textToCopy;
            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand("copy");
            document.body.removeChild(tempInput);
            alert("Text copied to clipboard: " + textToCopy);
        }
    </script>
      

   
     
    </div>
  </section>
{% endblock body %}