{% extends "base.html" %}
{% load static %}

{% block styles %}
  
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock styles %}
{% block body %}


<!--================Home Banner Area =================-->
<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div
      class="overlay bg-parallax"
      data-stellar-ratio="0.9"
      data-stellar-vertical-offset="0"
      data-background=""
    ></div>
    <div class="container">
      <div class="banner_content text-center">
        <h2>Tutorials</h2>
        <div class="page_link">
          <a href="/homepage/">Dashboard</a>
          <a href="/tutorials/">Tutorials</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Home Banner Area =================-->

  <section>
    <h1 style="background-color: whitesmoke;margin: 0;" class="text-center">Tutorials</h1>
    <div class="projcard-container">
     {% for tutorials in tutorials %}
       
     <center>
     <div class="container m-3">
      <div class="row">
        <div class="col"></div>
        <div class="col-md-6 col-lg-8">
          <div class="card">
            <img src="/media/{{tutorials.tutorialImage}}" class="card-img-top" style="height: 400px;" alt="Placeholder Image">
            <div class="card-body">
              <h5 class="card-title">{{tutorials.tutorialName}}</h5>
              <p class="card-text">{{tutorials.tutorialContent}}</p>
              <a href="/tutorials/{{tutorials.id}}/" class="btn btn-primary">Go To Tutorials</a>
            </div>
          </div>
        </div>

        <div class="col"></div>

      </div>
      </div>
    </center>

        {% endfor %}
      </div>
  </section>
{% endblock body %}